* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.header{
    background-color: rgba(35, 37, 54, 1);
    color: #fff;
}

.header {
    background-color: rgba(35, 37, 54, 1);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.header-diver {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    
}
.first{
    padding-top: 27px;
    border-top: 3px solid rgba(255, 161, 85, 1);
}
.firs{
    color: rgb(255, 139, 45);
}
.own{
    opacity: 0.6;
}
.header-diver ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 400px;
}


.header-diver ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.text-content h1 {
    font-size: 56px;
    width: 624px;
    font-weight: 600;
    line-height: 68px;
}

.text-content p {
    width: 528px;
    margin-top: 24px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 24px;
    margin-bottom: 32px;
}

.text-content button {
    width: 220px;
    height: 64px;
    font-weight: 500;
    background-color: rgba(68, 76, 252, 1);
    color: #fff;
    border: none;
    cursor: pointer;
}

.image-content img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.logo h5{
    font-weight: normal;
    opacity: 0.6;

}
.logo {
    display: flex;
    flex-direction: column;
    
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

ul{
    list-style: none;
}

main{
    color: rgba(35, 37, 54, 1);
}
main h1{
    margin-top: 144px;
    font-size: 48px;
    color: rgba(35, 37, 54, 1);
    margin-left: 130px;
    margin-bottom: 8px;
}
main small{
    margin-left: 130px;
    font-size: 16px;
    color: rgba(35, 37, 54, 1);
    opacity: 0.6;
    font-weight: 400;
}
a{
    text-decoration: none;

}
.text-hero{
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1280px;
    padding-bottom: 96px;
    background-color: rgba(236, 248, 249, 1);
}
.text-hero p{
    margin-bottom: 24px;
    width: 829px;
    font-weight: 400;
    color: rgba(35, 37, 54, 1);
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;
   
}
.text-hero h2{
    margin-left: 230px;
    display: flex;
    justify-content: flex-start;
    margin-top: 96px;
    margin-bottom: 24px;
    width: 541px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
}
.hero div h1{
    width: 462px;
    height: 116px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 0px;
    
    margin-bottom: 40px;
}
h3{
    color:rgba(35, 37, 54, 1);
    margin-bottom: 28px;

}
.make{
    margin-left: 130px;

}
.make a{
    color: rgba(35, 37, 54, 1);
    margin-bottom: 40px;
}
address{
    margin-top: 20px;
    width: 206px;
    font-size: 14px;
}
.boss{
    font-weight: 600;
}
hr{
    width: 268px;
    margin-top: 14px;
    margin-bottom: 16px;
}

.uls{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 60px;
    margin-top: 176px;
    line-height: 32px; 
}

.uls a{
    margin-top: 270px;
    margin-bottom: 50px;
    
}