@import url(/css/global.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.header, main{
    background-color: rgba(35, 37, 54, 1);
    color: #fff;
}

.header {
    background-color: rgba(35, 37, 54, 1);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.header-diver {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    
}
.first{
    padding-top: 27px;
    border-top: 3px solid rgba(255, 161, 85, 1);
}
.firs{
    color: rgb(255, 139, 45);
}
.own{
    opacity: 0.6;
}
.header-diver ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-left: 400px;
}


.header-diver ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.text-content h1 {
    font-size: 56px;
    width: 624px;
    font-weight: 600;
    line-height: 68px;
}

.text-content p {
    width: 528px;
    margin-top: 24px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 24px;
    margin-bottom: 32px;
}

.text-content button {
    width: 220px;
    height: 64px;
    font-weight: 500;
    background-color: rgba(68, 76, 252, 1);
    color: #fff;
    border: none;
    cursor: pointer;
}

.image-content img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.logo h5{
    font-weight: normal;
    opacity: 0.6;

}
.logo {
    display: flex;
    flex-direction: column;
    
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* end */

.sectionone{
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 120px;
}

.controller{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.papa{
    margin-bottom: 16px;
    font-size: 14px;
}
.controller div h1{
    font-size: 46px;
    width: 640px;
    color: rgba(35, 37, 54, 1);
}

.controller div h2{
    color: rgba(35, 37, 54, 1);
    margin-top: 55px;
    font-size: 38px;
}

.controller div p{
    width: 400px;
    font-weight: 400;
    color: rgba(93, 95, 109, 1);
    margin-top: 16px;
}
.images{
 display: flex;
 justify-content: center;
 gap: 11px;
 margin-top: 50px;
 margin-bottom: 49px;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;

}
.numbers a{
    margin-left: 430px;
    text-decoration: none;
    font-weight: 500;
    color: rgba(68, 76, 252, 1);
}

.numbers div img{
    margin-right: 66px;
}


.blue{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 1256px;
    height: 333px;
    background-color: rgba(102, 109, 255, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}
.blue span{
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.blue h1{
    width: 488px;
    margin-top: 13px;
   
}
input{
    border: none;
    width: 454px;
    height: 64px;


}
input::placeholder{
    padding-left: 29px;
}
/* end  */

a, ul{
    list-style: none;
    text-decoration: none;

}
.text-hero{
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1280px;
    padding-bottom: 96px;
    background-color: rgba(236, 248, 249, 1);
}
.text-hero p{
    margin-bottom: 24px;
    width: 829px;
    font-weight: 400;
    color: rgba(35, 37, 54, 1);
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;
   
}
.text-hero h2{
    margin-left: 230px;
    display: flex;
    justify-content: flex-start;
    margin-top: 96px;
    margin-bottom: 24px;
    width: 541px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
}
.hero div h1{
    width: 462px;
    height: 116px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 0px;
    
    margin-bottom: 40px;
}
h3{
    color:rgba(35, 37, 54, 1);
    margin-bottom: 28px;

}
.make{
    margin-left: 130px;

}
.make a{
    color: rgba(35, 37, 54, 1);
    margin-bottom: 40px;
}
address{
    margin-top: 20px;
    width: 206px;
    font-size: 14px;
}
.boss{
    font-weight: 600;
}
hr{
    width: 268px;
    margin-top: 14px;
    margin-bottom: 16px;
}

.uls{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 60px;
    line-height: 32px; 
}

.uls a{
    margin-top: 300px;
    margin-bottom: 50px;
    
}